<div class="container-fluid mt-5 about-style" id="serviceid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">Our Services</h1>
      <p class="text-center sub-heading"> grow your bussiness with us </p>
      <div class="row">
        <div class="col-md-4">
            <div class="box">
                <div class="our-services setting">
                    <div class="icon">
                        <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                    </div>
                    <h4>Web App Development</h4>
                    <p>Our superior web applications can improve engagements, diminish costs, and do branding to generate business revenues</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services setting">
                    <div class="icon">
                        <img src="https://i.imgur.com/VzjZw9M.png" alt="">
                    </div>
                    <h4>Domain registration</h4>
                    <p> We can help you register your domain name, making it easy for your customers to find you online</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services setting">
                    <div class="icon">
                        <img src="https://i.imgur.com/vdH9LKi.png" alt="">
                    </div>
                    <h4>Virtual Private Server</h4>
                    <p>Our VPS hosting service offers the benefits of a dedicated server, without the high costs.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services setting">
                    <div class="icon">
                        <img src="https://i.imgur.com/vdH9LKi.png" alt="">
                    </div>
                    <h4> SSL certificate </h4>
                    <p> Protect your website and your visitors with an SSL certificate from our trusted SSL provider. 24/7 support</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services setting">
                    <div class="icon">
                        <img src="https://i.imgur.com/VzjZw9M.png" alt="">
                    </div>
                    <h4>Digital Marketing and Creative Service</h4>
                    <p>It is a strategy that uses multiple channels to attract, engage and convert customers</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services setting">
                    <div class="icon">
                        <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                    </div>
                    <h4>Business Developement and Brand Promotion</h4>
                    <p>We provide you all that you need to develop it into a business including branding.</p>
                </div>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
